---
import Layout from '../layouts/layout.astro';

const apiKey = 'de6d47b07dda425e8de672c214f22836';
const encodedUrl = encodeURIComponent('/');

const response = await fetch(`https://cdn.builder.io/api/v1/html/page?apiKey=${apiKey}&url=${encodedUrl}`);
const data = await response.json();
const content = data.data.html;
---

<Layout pageTitle="Home">
  <div class="container">
    <h1>Home</h1>
    <p>Welcome home :)</p>
    <div set:html={content}></div>
  </div>
</Layout>
