---

---

<nav>
  <a href="/">Home</a>
  <a href="/blog">Blog</a>
</nav>

<style>
  nav {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  nav a {
    padding: .5rem 1rem;
    margin-left: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--font-color-main);
  }
  nav a:hover {
    text-decoration: underline;
  }
  nav a:visited {
    color: var(--font-color-main);
  }
</style>